<ul class="nav nav-tabs" id="apprenticeshipTabs" role="tablist">
  {%- for batch in site.data.apprentices -%}
    {%- assign batch_key = batch[0] -%}
    <li class="nav-item" role="presentation">
      <button
        class="nav-link {% if forloop.first %}active{% endif %}"
        id="tab-{{ batch_key | replace: '-', '' }}-tab"
        data-bs-toggle="tab"
        data-bs-target="#tab-{{ batch_key | replace: '-', '' }}"
        type="button"
        role="tab"
      >
        Batch {{ batch_key }}
      </button>
    </li>
  {%- endfor -%}
</ul>

<div class="tab-content" id="apprenticeshipTabsContent">
  {%- for batch in site.data.apprentices -%}
    {%- assign batch_key = batch[0] -%}
    {%- assign batch_data = batch[1] -%}
    <div
      class="tab-pane fade {% if forloop.first %}show active{% endif %}"
      id="tab-{{ batch_key | replace: '-', '' }}"
      role="tabpanel"
    >
      <h3>Teams</h3>

      {%- for project in batch_data -%}
        <div>
          <h4>{{ project.title }}</h4>
          <p>
            <strong>Mentors: </strong>
            {%- for mentor in project.mentors -%}
              {{ mentor.name -}}
              {%- unless forloop.last -%}
                ,
              {% endunless %}
            {%- endfor -%}
            <br>
            <strong>Mentees: </strong>
            {%- for mentee in project.mentees -%}
              {{ mentee.name -}}
              {%- unless forloop.last -%}
                ,
              {% endunless %}
            {%- endfor -%}
          </p>
        </div>
      {%- endfor -%}

      <h3>Publications</h3>
      {% bibliography --file apprenticeship --query @*[batch={{ batch_key }}] %}
    </div>
  {%- endfor -%}
</div>
