<div class="row g-4 mb-5">
  {% for way in site.data.ways_to_contribute %}
  <div class="col-lg-4 col-md-6">
    <div class="card border-0 bg-light h-100">
      <div class="card-body p-4 text-center">
        <div class="mb-3">
          <i class="{{ way.icon }} fa-2x text-primary"></i>
        </div>
        <h5 class="card-title">{{ way.title }}</h5>
        <p class="card-text text-muted mb-3">{{ way.description }}</p>
        <ul class="text-start small">
          {% for item in way.items %}
          <li class="mb-2">{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
