{% assign allProjects = site.projects | sort: 'fromDate' | reverse %}
{% assign today = site.time | date: '%Y-%m-%d' %}
<div class="row g-4" id="ongoing-projects-container">
  {% for project in allProjects %}
    {% assign isOngoing = true %}
    {% if project.toDate %}
      {% assign projectEndDate = project.toDate | date: '%Y-%m-%d' %}
      {% if projectEndDate < today %} {% assign isOngoing = false %} {% endif %}
    {% endif %}
    <div
      class="col-12 project-item ongoing"
      data-to-date="{{ project.toDate | default: '' }}"
      {% unless isOngoing %}
        style="display: none;"
      {% endunless %}
    >
      {% include card.html item=project type="project" %}
    </div>
  {% endfor %}
</div>
<p
  class="text-muted no-projects-message"
  data-type="ongoing"
  style="display: none"
>
  No ongoing projects at the moment.
</p>
