.footer {
  padding: 1rem 0;
  border-top: 1px solid var(--bs-tertiary-color);
  color: var(--bs-secondary-color);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  footer & {
    justify-content: flex-start;
  }
}

.social-link {
  color: var(--bs-secondary-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
  text-decoration: none;
  display: inline-block;

  &:hover {
    color: var(--bs-secondary);
  }
}
