@use "variables";

.footer {
  padding: 1rem 0;
  border-top: 1px solid var(--muted-foreground);
  color: var(--muted);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.75rem;

  footer & {
    justify-content: flex-start;
  }
}

.social-link {
  color: var(--muted-foreground);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--primary);
    transform: translateY(-1px);
  }

  &:active {
    color: var(--primary);
  }
}
