.page-title {
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.page-description {
  margin-bottom: 2rem;
}

.profile-thumbnail {
  display: block;
  margin: 0 auto 0.5rem auto;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

#project-navigation {
  .project-aside-title {
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
}
