.page-title {
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.page-description {
  margin-bottom: 2rem;
}

#project-navigation {
  .project-aside-title {
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
}
