---
layout: default
---
<header>
  {% if page.thumbnail %}
    <img
      src="/assets/images/{{ page.thumbnail }}"
      class="img-fluid rounded w-100"
      alt="{{ page.title }}"
      style="max-height: 330px; object-fit: cover"
    >
  {% endif %}
  {% if page.title %}
    <h1 class="page-title">{{ page.title }}</h1>
  {% endif %}
  {% if page.description %}
    <p class="page-description text-muted font-italic">
      {{ page.description }}
    </p>
  {% endif %}
</header>

{{ content }}
